<h2>Top bugs</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>

    <tbody>
        <% @bug_models.each do |bug_model| %>
            <tr>
                <td><%= "#{bug_model.user.fname} #{bug_model.user.lname}" %></td>
                <td><%= bug_model.title %></td>
                <td><%= bug_model.description %></td>
            </tr>
        <% end %>
    </tbody>
</table>
